<aside class="bg-dark" id="Praxis">
      <div class="container text-center">
          <div class="call-to-action">
              <h2 class="section-heading">Die Praxis</h2>
              <hr class="light">
              <img src="img/Praxis.jpg" class="img-responsive" alt="">
              <hr class="light">
              <h2 class="section-heading">Anfahrt</h2>
              <hr class="light">
              <p class="text-faded">
                Die Praxis befindet sich direkt auf der Pilgramgasse in einem schönen Altbau. Gut erreichbar mit den öffentlichen Verkehrsmittel der Linie U4, 12a, 13a, 14a, 59a.
                <br><br>
              </p>
              <hr class="light">
              <h2 class="section-heading">Adresse</h2>
              <hr class="light">
              <p class="text-faded">
                Pilgramgasse 8/1/9
                <br>
                1050 Wien
                <br><br>
                 Google Maps Plugin
              </p>
          </div>
      </div>
</aside>
