<aside class="bg-dark" id="Praxis">
      <div class="container text-center">
          <div class="call-to-action">
              <h2 class="section-heading">Die Praxis</h2>
              <hr class="light">
              <img src="img/Praxis.jpg" class="img-responsive" alt="">
              <hr class="light">
              <h2 class="section-heading">Anfahrt</h2>
              <hr class="light">
              <p class="text-faded">
                Die Praxis befindet sich direkt auf der Pilgramgasse in einem schönen Altbau. Gut erreichbar mit den öffentlichen Verkehrsmittel der Linie U4, 12a, 13a, 14a, 59a.
                <br><br>
              </p>
              <hr class="light">
              <h2 class="section-heading">Adresse</h2>
              <hr class="light">
              <p class="text-faded">
                Pilgramgasse 8/1/9
                <br>
                1050 Wien
                <br><br>

                <iframe class="responsive_iframe" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2659.7538559581303!2d16.355385116244538!3d48.192093855340296!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x476d07878717fe33%3A0x82986883f2cb4896!2sPilgramgasse%208%2F1%209%2C%201050%20Wien!5e0!3m2!1sde!2sat!4v1672747744852!5m2!1sde!2sat" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

              </p>
          </div>
      </div>
</aside>
