<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Mein Angebot</h2>
                <hr class="light">
                <p class="text-faded">
                  Als personzentrierter Psychotherapeut arbeite ich nicht mit vorgefertigten Behandlungsmethoden, viel mehr wird der Mensch in den Mittelpunkt gerückt.
                  Es benötigt für jeden Menschen eine ganz individuelle Behandlung.
                  Meine Arbeit ist geprägt von Empathie und Akzeptanz und soll von meinen KlientInnen* Räume öffnen sich besser selber kennzulernen.
                </p>
                <hr class="light">
                <!-- <a href="#" class="btn btn-default btn-xl">Get Started!</a> -->
            </div>
            <hr>
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Thematiken</h2>
                <hr class="light">
                <p class="text-faded">Als Psychotherapeut arbeite ich mit vielen Themen wie:
                <br>Ängste
                <br>Depressionen
                <br>Beziehungsthemen
                <br>Erwachsen werden
                <br>Älter werden
                <br>Gewalterfahrungen
                <br>Krisen
                <br>Selbstwertthemen
                <br>Einsamkeit
                <br>Trauer
                <br>Familie
                <br>Sucht

                <hr class="light">
                <!-- <a href="#" class="btn btn-default btn-xl">Get Started!</a> -->
            </div>
        </div>
    </div>
</section>
