<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Kontakt</h2>
                <hr class="primary">
                <p>klaus.hechtl@hotmail.com</p>
                <p>+4369919038393</p>
              </div>


            <p class="text-faded">
              Sollten Sie zum vereinbarten Termin nicht erscheinen können, bitte ich darum, diesen spätestens 24 Stunden vorher abzusagen - andernfalls muss ich Ihnen das volle Honorar in Rechnung stellen.
            </p>
            <hr class="light">


    </div>
</section>
