<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1 class="responsive_h1">Personenzentrierte Psychotherapie</h1>
            <hr>

            <p class="shadow">
            Ein Stück des Weges zusammen zu gehen, darin sehe ich meine Aufgabe in der Psychotherapie.


            </p>
            <br>
            <hr>
            <br>
            <p class="shadow">
              Es gibt viele Metaphern in denen es um unseren Lebensweg geht.
              Welchen Weg willst du gehen, am Scheideweg stehen, sich auf den Weg machen, der Weg ist das Ziel, vom Weg abkommen.
              Psychotherapie kann helfen, für sich den richtigen Weg zu finden und dabei unterstützen, diesen auch zu gehen.
            </p>
            <hr>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Mein Angebot</a>
        </div>
    </div>
</header>
