<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Klaus Hechtl personenzentrierte Psychotherapie</h1>
            <hr>

            <p class="shadow">
            Jeder von uns findet sich manchmal in einer Situation wieder, in der es gut tut, jemanden an seiner Seite zu wissen/haben.
            Ein Stück des Weges zusammen gehen, darin sehe ich meine Arbeit als Psychotherapeut.
            </p>
            <br>
            <hr>
            <br>
            <p class="shadow">
              Welchen Weg willst du gehen, am Scheideweg stehen, sich auf den Weg machen, der Weg ist das Ziel, vom Weg abkommen  ...
              Es gibt viele Metapher in denen es um unseren Lebensweg geht. Psychotherapie kann helfen für sich einen guten Weg zu finden und dabei unterstützen, diesen auch zu gehen.
            </p>
            <hr>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Mein Angebot</a>
        </div>
    </div>
</header>
