<section id="Rahmenbedingungen">
    <div class="container">
        <div class="row">


            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Rahmenbedingungen / <br class="mobile-break">Kosten</h2>
                <hr class="primary">
                <h2 class="section-heading">Verschwiegenheit</h2>
                <hr class="primary">
                <p class="text-muted">
                  Nach §15 des Psychotherapiegesetzes bin ich der umfassenden Verschwiegenheit verpflichtet.
                </p>
                <hr class="primary">
                <h2 class="section-heading">Setting und Alter</h2>
                <hr class="primary">
                <p class="text-muted">
                  Erwachsene und Jugendliche ab  16 Jahren
                </p>
                <hr class="primary">
                <h2 class="section-heading">Dauer</h2>
                <hr class="primary">
                <p class="text-muted">
                  Eine Therapieeinheit dauert 50 Minuten
                </p>
                <hr class="primary">
                <h2 class="section-heading">Kosten</h2>
                <hr class="primary">
                <p class="text-muted">
                  65€/50min
                  <br><br>
                  Eine volle oder Teil-Refundierung mit der Krankenkasse ist momentan leider nicht möglich
                </p>
                <hr class="primary">
                <h2 class="section-heading">Absageregelung</h2>
                <hr class="primary">
                <p class="text-muted">
                  Sollten Sie zum vereinbarten Termin nicht erscheinen können, bitte ich darum, diesen spätestens 24 Stunden vorher abzusagen - andernfalls muss ich Ihnen das volle Honorar in Rechnung stellen.
                </p>
                <hr class="primary">

                <h2 class="section-heading">Erstgespräch</h2>
                <hr class="primary">
                <p class="text-muted">
                  Bei einem unverbindlichen, kostenlosen Erstgespräch haben Sie die
  Möglichkeit zu prüfen, ob Sie sich wohlfühlen und ob Sie sich eine Zusammenarbeit mit mir
  vorstellen können. Hier können wir auch besprechen, was Sie sich von einer Therapie
  erwarten und welche Rahmenbedingungen es gibt. Wir sprechen auch über die Dauer, die
  Häufigkeit und über die Zahlungsmodalitäten.
  Falls Sie Fragen haben oder sich gern einen Termin für ein Erstgespräch ausmachen würden,
  kontaktieren Sie mich einfach unter 0699 190 38 393 oder per mail an
  klaus.hechtl@hotmail.com.
                </p>
                <hr class="primary">

                <!-- <a href="#" class="btn btn-default btn-xl">Get Started!</a> -->
            </div>
        </div>
    </div>
</section>
