<section class="bg-primary" id="Rahmenbedingungen">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Rahmenbedingungen</h2>
                <hr class="light">
                <p class="text-faded">
                  Verschwiegenheit
                  Nach §15 des Psychotherapiegesetzes bin ich der umfassenden Verschwiegenheit verpflichtet.
                </p>
                <hr class="light">
                <h2 class="section-heading">Setting und Alter</h2>
                <hr class="light">
                <p class="text-faded">
                  Jugendliche ab 16 Jahren und Erwachsene
                </p>
                <hr class="light">
                <h2 class="section-heading">Dauer</h2>
                <hr class="light">
                <p class="text-faded">
                  Eine Therapieeinheit dauert 50 Minuten
                </p>
                <hr class="light">
                <h2 class="section-heading">Kosten</h2>
                <hr class="light">
                <p class="text-faded">
                  65€/50min
                  <br><br>
                  Eine volle oder Teil-Refundierung mit der Krankenkasse ist momentan nicht möglich
                </p>
                <hr class="light">
                <h2 class="section-heading">Absageregelung</h2>
                <hr class="light">
                <p class="text-faded">
                  Sollten Sie zum vereinbarten Termin nicht erscheinen können, bitte ich darum, diesen spätestens 24 Stunden vorher abzusagen - andernfalls muss ich Ihnen das volle Honorar in Rechnung stellen.
                </p>
                <hr class="light">
                <!-- <a href="#" class="btn btn-default btn-xl">Get Started!</a> -->
            </div>
        </div>
    </div>
</section>
