<section id="services">
    <div class="container">
      <div class="row justify-content-md-center">

        <div class="col-md-auto">
          <img src="img/portfolio/2.jpg" class="img-responsive center-block klaus" alt="">
          <br><hr class="primary">

        </div>
      </div>

        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Über mich</h2>
                <hr class="primary">

                    <p class="text-muted">Mein Name ist Klaus Hechtl, ich bin personzentrierter Psychotherapeut in Ausbildung unter Supervision und arbeite mit Erwachsenen und Jugendlichen ab 16 Jahren.</p>

                <hr class="primary">
                <h2 class="section-heading">Ausbildung und Werdegang</h2>
                <hr class="primary">

                    <p class="text-muted">
                    Fachspezifikum APG Forum (laufend)
                    <br><br>Praktikum an der Akutpsychatrie Klinik Donaustadt (laufend)
                    <br><br>Propädeutikum an der Universität Wien
                    <br><br>Co-Moderator in verschiedenen Selbshilfegruppen beim Club Depression und Angst
                    <br><br>Mitarbeit im Notquartier Lacknergasse - Gruft 2
                    <br><br>Mitarbeit im Betreuungszentrum Gruft
                  </p>

                <hr class="primary">



        </div>
      </div>

    </div>
</section>
