<section id="services">
    <div class="container">
      <div class="row justify-content-md-center">

        <div class="col-md-auto">
          <img src="img/portfolio/2.jpg" class="img-responsive center-block klaus" alt="">
          <br><hr class="primary">

        </div>
      </div>

        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Über mich</h2>
                <hr class="primary">

                    <p class="text-muted">Mein Name ist Klaus Hechtl, ich arbeite als personenzentrierter Psychotherapeut in Ausbildung unter Supervision und arbeite mit Jugendlichen ab 16 Jahren und Erwachsenen</p>

                <hr class="primary">
                <h2 class="section-heading">Ausbildung und Werdegang</h2>
                <hr class="primary">

                    <p class="text-muted">
                    Propädeutikum an der Universität Wien
                    <br><br>Fachspezifikum APG Forum (laufend)
                    <br><br>Komoderation in verschiedenen Selbshilfegruppen beim Klub Depression und Angst
                    <br><br>Mitarbeiter Notquartier für Obdachlose - Gruft 2
                    <br><br>Mitarbeiter Betreuungszentrum Gruft
                    <br><br>Praktkikum an der Akutpsychatrie Klinik Donaustadt
                  </p>

                <hr class="primary">



        </div>
      </div>

    </div>
</section>
